.main {
  margin-bottom: 200px;
  video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 50px;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: start;

    .col:nth-of-type(1) {
      width: 20%;
    }

    .col:nth-of-type(2) {
      width: 80%;

      h1 {
        margin-bottom: 50px;
      }

      .insiderow {
        display: flex;
        gap: 50px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .row {
    display: block !important;

    .col:nth-of-type(1) {
      img {
        display: none;
      }
    }

    .col:nth-of-type(2) {
      width: 100% !important;

      .insiderow {
        display: block !important;
        gap: 25px;

        .insidecol:nth-of-type(1) {
          margin-bottom: 25px;
        }
      }
    }
  }
}
