.main {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding: 20px;
  background-color: rgb(0, 0, 0);
  gap: 10px;
  z-index: 100;

  .container {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;

    .svg {
      width: 100%;
    }
  }
}
