.main {
  margin: 200px 0px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 50px;

    .container {
      display: flex;

      .letterContainer {
        white-space: nowrap;
        overflow: hidden;

        .letter {
          width: 100%;
        }
      }
    }

    .workdesc {
      p {
        margin: 0;
      }
    }
  }

  .workgallery {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
  }

  .singleimage {
    width: 50%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

    p {
      margin-top: 5px;
    }

    .imagecontainer {
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 5px;
      position: relative;

      .image {
        scale: 1.2;
        width: 100%;
        height: auto;
        transition: 0.3s;
        border-radius: 10px;
      }

      .hovervideo {
        display: none;
      }
    }
  }

  .singleimage:hover {
    .imagecontainer {
      .image {
        scale: 1.1;
        filter: blur(0.5em);
        transition: 0.3s;
      }
      .hovervideo {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
          max-width: 300px;
          height: auto;
          border-radius: 10px;
        }
      }
    }
  }

  .row {
    display: flex;
    align-items: start;
    gap: 50px;

    .col:nth-of-type(1) {
      width: 30%;
    }

    .col:nth-of-type(2) {
      width: 70%;
      display: flex;
      gap: 25px;
      overflow-x: hidden;
    }
  }
}

@media screen and (max-width: 800px) {
  .row {
    display: block !important;

    .col {
      width: 100% !important;
    }
  }

  .header {
    display: block !important;

    .workdesc {
      display: flex;
      margin-top: 5px;
      justify-content: space-between;
    }
  }

  .workgallery {
    display: block !important;

    .singleimage {
      width: 100%;
      margin-bottom: 5%;
      padding: 0px;
    }
  }
}

@media screen and (max-width: 600px) {
  .col:nth-of-type(2) {
    width: 100%;
  }
}
